TG_TOKEN =
PAYMENTS_TOKEN =

# Информация для возврата средств
YOOKASSA_SHOP_ID =
YOOKASSA_SECRET_KEY =

# Уровень логирования
LOG_LEVEL = INFO # DEBUG, INFO, WARNING, ERROR, CRITICAL

# Куда писать логи
ENABLE_CONSOLE_LOGGING = false
ENABLE_FILE_LOGGING = true
LOG_DIR = logs

# Ротация логов
ROTATION_MAX_SIZE_MB = 10
ROTATION_BACKUP_COUNT = 5

# Рекомендуемые настройки для production:
# 10 МБ на файл, 5 бэкапов = максимум 60 МБ на каждый тип лога
# ROTATION_MAX_SIZE_MB=10
# ROTATION_BACKUP_COUNT=5

# Или для высоконагруженных систем:
# ROTATION_MAX_SIZE_MB=50
# ROTATION_BACKUP_COUNT=10

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=  # оставьте пустым, если без пароля

# За сколько часов до начала экскурсии невозможен возврат денег
REFUND_HOURS_BEFORE = 4
